@charset "UTF-8";
/**
 * @authors Vicky Hong (Vicky198808@163.com)
 */
.mapTop{
	background:url(../images/mapbg.jpg) repeat-x;
	width: 100%;
	height:92px;
}
.mapLogo{
	width: 529px;
	height: 92px;
}
.mapLogo img{
	width: 529px;
	height: 92px;
}
.mapNav{

}
.mapNav li{
	float: left;
	width: 64px;
	height: 64px;
	margin: 14px 26px 0 0;
}
.mapNav li a{
	float: left;
	width: 64px;
	height: 64px;
}

/*弹出框*/
.overlay{
	background: rgba(255,255,255,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	display: none;
	top: 0;
}
.mapShowModel{
	position: absolute;
	z-index: 1;
	width: 463px;
	left: 50%;
	margin-left: -231px;
	display: none;
	top: 20%
}
.showModelTop{
	background:url(../images/titlle07.png) no-repeat;
	width: 421px;
	height: 55px;
	padding: 0 19px 0 23px;
}
.showModelTit{
	font-size: 18px;
	color: #fff;
	line-height: 55px;
}
.showModelClose{
	width: 32px;
	height: 32px;
	margin-top: 11px;
}
.showModelClose img{
	width: 32px;
	height: 32px;
}
.showModelCont{
	background: #fff;
	border: 1px solid #b8b7b7;
	width: 461px;
}
/*tab*/
.showModelCont .tabs{
	height: 44px;
	background: #f0f0f0;
	width: 461px;
}
.showModelCont .tabs li{
	float: left;
	width: 30%;
	margin: 0 10%;
	line-height: 44px;
	text-align: center;
}
.showModelCont .tabs li a{
	font-size: 14px;
	color: #727272;
}
.showModelCont .tabs .active{
	height: 40px;
	line-height: 44px;
	border-bottom: 4px solid #ca3131;
}
.showModelCont .tabs .active a{
	color: #000;
}
.showModelCont .tab_container{
	width: 341px;
	padding:20px 60px 0;
	height: auto;
}
.showModelCont .tab_container p{
	line-height: 40px;
	font-size: 14px;
}
.showModelCont .tab_container .tabTit{
	color: #1c1c1c;
}
.showModelCont .tab_container .tabTxt{
	color: #5e5e5e
}